@keyframes slider {
  0% {
    width: 0%;
  }

  100% {
    width: 300px;
  }
}

.rightSidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 100%;
  background: var(--main-white);
  padding: var(--vspace) calc(var(--hspace) * 2);
  box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.33);
  overflow: scroll;
  /* animation-name: slider;
  animation-duration: 0.5s; */
}

.hidden {
  display: none;
  visibility: hidden;
}
