.spinnerWrapper {
  display: flex;
  flex-direction: row;
  padding: var(--vspace) * 2;
}

.hidden {
  display: none;
  visibility: hidden;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate 0.75s linear infinite;
  border: 5px solid var(--main-dark-gray);
  border-radius: 50%;
  border-right-color: transparent;
  height: 30px;
  width: 30px;
}
