.chapterList {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.book {
  display: flex;
  width: 100%;
  padding: 10px;
  background: var(--main-dark-alt);
  border-bottom: 1px solid var(--main-dark-gray);
}

.chapterList a {
  color: var(--main-dark);
  text-decoration: none;
}
