.chapterlist {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 5px;
}

.chapterlist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 5px;
}


.book {
  display: flex;
  width: 100%;
  padding: 10px;
  background: var(--main-dark-alt);
  border-bottom: 1px solid var(--main-dark-gray);
}

.chapterlist a, .chapterlist-grid a {
  color: var(--main-dark-gray);
  text-decoration: none;
}
