.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-gray);
  background-color: var(--main-light);
}

.headerFixed {
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
  width: 100%;
  height: var(--header-height);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: var(--vspace) calc(var(--hspace) * 2);
}

.headerContainer h1 {
  font-size: 1.5rem;
}

.headerContainer h1 a {
  color: var(--main-gray);
  text-decoration: none;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--main-dark);
  border-radius: 50%;
  cursor: pointer;
}
