@import '../../variables.css';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-darker-blue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .33);
}

.headerFixed {
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
  width: 100%;
  color: var(--border-gray);
  height: var(--header-height);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: var(--vspace) var(--hspace);
}

.headerContainer h1 {
  color: var(--main-white);
  font-size: 1.5rem;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--main-white);
  border-radius: 50%;
  cursor: pointer;
}
