@import '../../variables.css';

.footer {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  border-top: 1px solid var(--main-gray);
  background: var(--main-white);
  color: var(--main-gray);
  padding: var(--vspace) var(--hspace);
}
