:root {
  --main-white: #FEFEFE;
  --main-light: #8D9477;
  --main-dark: #3A3230;
  --main-dark-alt: #29412B;
  --main-dark-gray: #696969;
  --main-light-gray: #9C9C9C;
  --app-radius: 2px;
  --main-font: 'Roboto', sans-serif;
  --display-font: 'Bitter', sans-serif;
  --vspace: 10px;
  --hspace: 10px;
  --header-height: 80px;
}
